.tabs{
	padding-top: 100px;
}

.ui-tabs-nav{
	font-size: 0;
	margin-bottom: 30px;
	border-bottom: 2px solid $blue-color;

	.ui-tabs-tab{
		display: inline-block;
		width: 33%;
		
		font-size: 16px;
		text-align: center;
		padding: 10px 0;
		border-radius: 6px 6px 0 0;

		a{
			color: #000;
		}

		&.ui-state-active{
			border: 2px solid $blue-color;
			border-bottom: 0;
		}

		@include bp( medium ){
			font-size: 20px;
		}
	}
}

.tab-image{
	margin-bottom: 20px;
	
	@include bp( medium ){
		float: left;
		width: 50.5%;

		margin-right: 4%;
	}
}

.tab-content{
	@include bp( medium ){
		float: left;
		width: 45.5%;
	}

	h3{
		font-size: 22px;
	}

	p{
		line-height: 1.4;
	}
}