/*-----------------  VARIABLES ------------- */



$link-color: #000;
$link-hover-color: $link-color;


$white-color: #fff;
$blue-color: #3f9ae9;

$default-font:  'Roboto', sans-serif;
$body-font: 	$default-font;
